php_value memory_limit 9999M
php_value post_max_size 2024M
php_value upload_max_filesize 9999M

Order Deny,Allow

Deny from 23.229.62.250
Deny from 36.74.102.133
Deny from 117.127.0.210
Deny from 118.70.124.34
deny from 160.124.155.
deny from 160.124.148.
Deny from 61.223.3.250
Deny from 61.223.15.240
Deny from 61.224.84.203
Deny from 114.41.252.165
deny from 37.115.146.51
deny from 134.249.215.31
deny from   91.169.171.203
deny from    192.40.239.178
deny from    208.87.238.180
deny from    86.200.93.131
deny from    157.191.66.52
deny from    110.145.147.82
deny from    196.15.190.83
deny from    183.87.112.113
deny from    96.56.93.226
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
	
    # Handle Authorization Header
    RewriteCond %{HTTPS:Authorization} .
    RewriteRule .* - [E=HTTPS_AUTHORIZATION:%{HTTPS:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]



</IfModule>
